#content{
	margin: 0 40px;
}

h1{
	font-size: 42px;
	margin-bottom: 30px;
}

#col1 > li { width:50.0%; }
#col2 > li { width:33.3%; }
#col3 > li { width:25.0%; }
#col4 > li { width:20.0%; }
#col5 > li { width:16.6%; }
#col6 > li { width:14.2%; }
#col7 > li { width:12.5%; }
#col8 > li { width:11.1%; }
#col9 > li { width:9.99%; }
#col10 > li { width:9.08%; }
#col11 > li { width:8.32%; }
#col12 > li { width:7.68%; }

.node{
	li{
		margin: 10px;
		margin-left: 0;
		list-style-type: none;


		a{
			color: #000;
			padding: 12px;
			font-size: 16px;
			font-weight: bold;
			background: $grey_300;
			border-radius: 2px;
			min-height: 90px;

			word-wrap: break-word;
			

			&:hover{
				color: #fff;
				text-decoration: none;
				background: $grey_700;

			}
			&:before{
				content: "/";
			}
		}

		ul{
			-webkit-padding-start: 0px;
			width: 100%;

			li{
				width: 100% !important;
				margin: 10px 0;

				a{
					background: $grey_200;
					width: 100%;
					font-weight: 300 !important;
					display: block;

				}
			}
		}
	}
}