
<div class="container" id="content">
  <div class="row">
    <div class="col-lg-12">
      <ul>
        <h2>{{sitemap.name}}</h2>
        <li ng-repeat='page in sitemap.pages'>
          <p>{{page.name}} </p>
          <ul>
            <li ng-repeat='l2 in page.children'>
              <p>{{l2.name}} </p>
              <ul>
                <li ng-repeat='l3 in l2.children'>
                  <p>{{l3.name}} </p>
                  
                </li>        
              </ul>
            </li>        
          </ul>
        </li>        
      </ul>
    </div>
  </div>
</div>



